<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">

      <table class="table table-bordered">
        <tr>
          <th width="20%">Imagem do Produto</th>
          <th width="50%">Detalhe do Produto</th>
          <th width="30%"></th>
        </tr>

        <tr *ngFor="let item of itensDoCarrinho">
          <td>
            <img src="{{item.imagemUrl}}" class="img-responsive" width="150px" />
          </td>
          <td>
            <p>{{ item.nome }}</p>
            <p>{{ item.precoUnitario | currency: 'BRL' }}</p>
          </td>
          <td>
            <div class="itens">
              <label>Quantidade: </label> {{ item.quantidade }}
            </div>
            <p class="mt-2">Subtotal: {{ item.quantidade * item.precoUnitario | currency: 'BRL' }}</p>
          </td>
        </tr>

        <tr>
          <td colspan="2"></td>
          <td style="font-weight: bold;">
            <p>Quantidade Total: {{ quantidadeTotal }}</p>
            <p>Frete: GRÁTIS</p>
            <p>Preço Total: {{ precoTotal | currency: 'BRL' }}</p>
          </td>
        </tr>

      </table>
    </div>
  </div>

</div>
