<div class="main-content">
  <div class="section-content section-content-p30">

    <h4>Categoria: {{ categoriaAtual }}</h4>
    <hr>

    <div class="container-fluid">
      <div class="row">

        <!-- loop over the collection of products-->
        <div *ngFor="let produto of produtos" class="col-md-3">

          <div class="caixa-produto">

            <a routerLink="/produtos/{{produto.id}}">
              <img src="{{produto.imagemUrl}}" class="img-responsive">
            </a>

            <a routerLink="/produtos/{{produto.id}}">
            <h1>{{ produto.nome }}</h1>
          </a>

            <div class="preco">{{ produto.precoUnitario | currency: 'BRL' }}</div>
            <a href="#" class="primary-btn">Adicionar ao carrinho</a>
          </div>

        </div>

        <!-- se os produtos estiverem vazios e exibir uma mensagem-->

        <div *ngIf="produtos?.length == 0"
          class="alert alert-warning col-md-12"
          role="alert"
          >Protudo não encontrado.
        </div>

      </div>
    </div>


  </div>
</div>
