<div class="main-content">
  <div class="section-content section-content-p30">
    
    <h4>Categoria: {{ categoriaAtual }}</h4>
    <hr>

    <div class="container-fluid">
      <div class="row">

        <!-- loop over the collection of products-->
        <div *ngFor="let produto of produtos" class="col-md-3">

          <div class="caixa-produto">
            <img src="{{produto.imagemUrl}}" class="img-responsive">
            <h1>{{ produto.nome }}</h1>
            <div class="preco">{{ produto.precoUnitario | currency: 'BRL' }}</div>
            <a href="#" class="primary-btn">Adicionar ao carrinho</a>
          </div>

        </div>

      </div>
    </div>


  </div>
</div>
