<div class="main-content page-m">

  <div class="section-content section-content-p30">
    <div class="container-fluid">

      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

        <!--formulario de clientes-->
        <div formGroupName="cliente" class="form-area">
          <h3>Cliente</h3>

          <div class="row">
            <div class="col-md-2">
              <label>Nome</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nome" type="text">

                <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="alert alert-danger">

                  <div *ngIf="nome.errors['required'] || nome.errors['campoEmBranco']">
                    Nome é obrigatório.
                  </div>
                  <div *ngIf="nome.errors['minlength']">
                    Nome deve conter no mínimo 2 caracteres.
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Sobrenome</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="sobreNome" type="text">

                <div *ngIf="sobreNome.invalid && (sobreNome.dirty || sobreNome.touched)" class="alert alert-danger">

                  <div *ngIf="sobreNome.errors['required']  || sobreNome.errors['campoEmBranco']">
                    Sobrenome é obrigatório.
                  </div>
                  <div *ngIf="sobreNome.errors['minlength']">
                    Sobrenome deve conter no mínimo 2 caracteres.
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>E-mail</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text">

                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

                  <div *ngIf="email.errors['required']">
                    E-mail é obrigatório.
                  </div>
                  <div *ngIf="email.errors['pattern']">
                    E-mail deve ter um formato de endereço válido.
                  </div>

                </div>

              </div>
            </div>
          </div>

        </div>

        <!--formulario de endereço entrega-->
        <div formGroupName="enderecoEntrega" class="form-area">
          <h3>Endereço de entrega</h3>

          <div class="row">
            <div class="col-md-2">
              <label>País</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="pais" (change)="getEstados('enderecoEntrega')">
                  <option *ngFor="let pais of paises" [ngValue]="pais">
                    {{ pais.name }}
                  </option>
                </select>

                <div *ngIf="enderecoEntregaPais.invalid && (enderecoEntregaPais.dirty || enderecoEntregaPais.touched)" class="alert alert-danger">
                  <div *ngIf="enderecoEntregaPais.errors['required']">
                    País é obrigatório.
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Logradouro</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="logradouro" type="text">

                <div *ngIf="enderecoEntregaLogradouro.invalid && (enderecoEntregaLogradouro.dirty || enderecoEntregaLogradouro.touched)" class="alert alert-danger">
                  <div *ngIf="enderecoEntregaLogradouro.errors['required'] || enderecoEntregaLogradouro.errors['campoEmBranco']">
                    Logradouro é obrigatório.
                  </div>
                  <div *ngIf="enderecoEntregaLogradouro.errors['minlength']">
                    Logradouro deve conter no mínimo 2 caracteres.
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Cidade</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cidade" type="text">

                <div *ngIf="enderecoEntregaCidade.invalid && (enderecoEntregaCidade.dirty || enderecoEntregaCidade.touched)" class="alert alert-danger">
                  <div *ngIf="enderecoEntregaCidade.errors['required'] || enderecoEntregaCidade.errors['campoEmBranco']">
                    Cidade é obrigatório.
                  </div>
                  <div *ngIf="enderecoEntregaCidade.errors['minlength']">
                    Cidade deve conter no mínimo 2 caracteres.
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Estado</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="estado">
                  <option *ngFor="let estado of enderecoEntregaEstados" [ngValue]="estado">
                    {{ estado.name }}
                  </option>
                </select>

                <div *ngIf="enderecoEntregaEstado.invalid && (enderecoEntregaEstado.dirty || enderecoEntregaEstado.touched)" class="alert alert-danger">
                  <div *ngIf="enderecoEntregaEstado.errors['required']">
                    Estado é obrigatório.
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Cep</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cep" type="text">

                <div *ngIf="enderecoEntregaCep.invalid && (enderecoEntregaCep.dirty || enderecoEntregaCep.touched)" class="alert alert-danger">
                  <div *ngIf="enderecoEntregaCep.errors['required'] || enderecoEntregaCep.errors['campoEmBranco']">
                    Cep é obrigatório.
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>

        <!--Adicionar um check box para copiar o endereço-->
        <div class="input-space">
          <label class="au-checkbox">
            <input type="checkbox" (change)="copiarEndereco($event)">
            <span class="au-checkmark"></span>O endereço de cobrança é o mesmo da entrega?
          </label>
        </div>

        <!--Endereço de cobrança-->
        <div formGroupName="enderecoCobranca" class="form-area">
          <h3>Endereço de cobrança</h3>

          <div class="row">
            <div class="col-md-2">
              <label>País</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="pais" (change)="getEstados('enderecoCobranca')">
                  <option *ngFor="let pais of paises" [ngValue]="pais">
                    {{ pais.name }}
                  </option>
                </select>

                <div *ngIf="enderecoCobrancaPais.invalid && (enderecoCobrancaPais.dirty || enderecoCobrancaPais.touched)" class="alert alert-danger">
                  <div *ngIf="enderecoCobrancaPais.errors['required']">
                    País é obrigatório.
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Logradouro</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="logradouro" type="text">

                <div *ngIf="enderecoCobrancaLogradouro.invalid && (enderecoCobrancaLogradouro.dirty || enderecoCobrancaLogradouro.touched)" class="alert alert-danger">
                  <div *ngIf="enderecoCobrancaLogradouro.errors['required'] || enderecoCobrancaLogradouro.errors['campoEmBranco']">
                    Logradouro é obrigatório.
                  </div>
                  <div *ngIf="enderecoCobrancaLogradouro.errors['minlength']">
                    Logradouro deve conter no mínimo 2 caracteres.
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Cidade</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cidade" type="text">

                <div *ngIf="enderecoCobrancaCidade.invalid && (enderecoCobrancaCidade.dirty || enderecoCobrancaCidade.touched)" class="alert alert-danger">
                  <div *ngIf="enderecoCobrancaCidade.errors['required'] || enderecoCobrancaCidade.errors['campoEmBranco']">
                    Cidade é obrigatório.
                  </div>
                  <div *ngIf="enderecoCobrancaCidade.errors['minlength']">
                    Cidade deve conter no mínimo 2 caracteres.
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Estado</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="estado">
                  <option *ngFor="let estado of enderecoCobrancaEstados" [ngValue]="estado">
                    {{ estado.name }}
                  </option>
                </select>

                <div *ngIf="enderecoCobrancaEstado.invalid && (enderecoCobrancaEstado.dirty || enderecoCobrancaEstado.touched)" class="alert alert-danger">
                  <div *ngIf="enderecoCobrancaEstado.errors['required']">
                    Estado é obrigatório.
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Cep</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cep" type="text">

                <div *ngIf="enderecoCobrancaCep.invalid && (enderecoCobrancaCep.dirty || enderecoCobrancaCep.touched)" class="alert alert-danger">
                  <div *ngIf="enderecoCobrancaCep.errors['required'] || enderecoCobrancaCep.errors['campoEmBranco']">
                    Cep é obrigatório.
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>

        <!--cartão de crédito -->
        <div formGroupName="cartaoCredito" class="form-area">
          <h3>Cartão de Crédito</h3>

          <div class="row">
            <div class="col-md-2">
              <label>Tipo do cartão</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="tipoCartao">
                  <option>Visa</option>
                  <option>Mastercard</option>
                  <option>Cielo</option>
                </select>

                <div *ngIf="cartaoCreditoTipo.invalid && (cartaoCreditoTipo.dirty || cartaoCreditoTipo.touched)" class="alert alert-danger">
                  <div *ngIf="cartaoCreditoTipo.errors['required']">
                    Tipo do cartão de crédito é obrigatório.
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Nome do Cartão</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nomeCartao" type="text">

                <div *ngIf="cartaoCreditoNome.invalid && (cartaoCreditoNome.dirty || cartaoCreditoNome.touched)" class="alert alert-danger">
                  <div *ngIf="cartaoCreditoNome.errors['required'] || cartaoCreditoNome.errors['campoEmBranco']">
                    Nome do cartão de crédito é obrigatório.
                  </div>
                  <div *ngIf="cartaoCreditoNome.errors['minlength']">
                    Nome do cartão deve conter no mínimo 2 caracteres.
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Número do Cartão</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="numeroCartao" type="text">

                <div *ngIf="cartaoCreditoNumero.invalid && (cartaoCreditoNumero.dirty || cartaoCreditoNumero.touched)" class="alert alert-danger">
                  <div *ngIf="cartaoCreditoNumero.errors['required']">
                    Número do cartão de crédito é obrigatório.
                  </div>
                  <div *ngIf="cartaoCreditoNumero.errors['pattern']">
                    Número do cartão de crédito precisa conter 16 dígitos.
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Código de Segurança</label>
            </div>
            <div class="col-md-9">
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="codigoSeguranca" type="text">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Mês de Expiração</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="mesExpiracao" (change)="manipularMesEAno()">
                  <option *ngFor="let mes of cartaoCreditoMes">
                    {{ mes }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Ano de Expiração</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="anoExpiracao">
                  <option *ngFor="let ano of cartaoCreditoAno">
                    {{ ano }}
                  </option>
                </select>
              </div>
            </div>
          </div>

        </div>

        <!-- Detalhes do pedido -->
        <div class="form-area">
          <h3>Revise seu pedido</h3>

          <p>Quantidade total: {{ quantidadeTotal }}</p>
          <p>Frete: GRÁTIS</p>
          <p>Preço total: {{ precoTotal | currency: 'BRL' }}</p>
        </div>

        <!--botão submit-->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Comprar</button>
        </div>
      </form>

    </div>
  </div>
</div>
